<h1>Editing horse detail</h1>

<%= render "form", horse_detail: @horse_detail %>

<br>

<div>
  <%= link_to "Show this horse detail", @horse_detail %> |
  <%= link_to "Back to horse details", horse_details_path %>
</div>
